@import "tailwindcss";

textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* thumb warna putih transparan */
  border-radius: 8px;
  background-clip: padding-box;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}
